@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/header-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

header button {
  background-color: white;
  font-weight: 600;
  border: none;
  padding: 24px 48px;
  font-size: 20px;
  color: #df7c6d;
}

header button:hover {
  cursor: pointer;
}

header h1 {
  font-size: 72px;
  padding: 48px 0;
  color: white;
}

.shopping-cart-icon {
  width: 32px;
  height: 32px;
}

.shopping-cart-icon > path {
  fill: white;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 48px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

nav a,
nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: flex-start;
  background-color:#e9b716;
  padding: 100px;
  height: 400px;
  color: white;
}

footer input[type=text] {
  padding: 12px 4px;
  margin: 16px 0 0;
  width: 100%;
  font-size: 18px;
  outline: none;
}

footer input[type=text].input-error {
  border: 1px solid red;
}

footer input[type=checkbox] {
  margin: 16px 8px 16px 0;
}

footer button {
  background-color: white;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  margin: 16px 0;
  font-size: 20px;
  color: #df7c6d;
}

footer button:disabled {
  background-color: #ededed;
  color: gray;
}


main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
}

.form-container {
  width: 400px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  width: 30%;
}

.product-name {
  font-weight: 300;
  color: #df7c6d;
  margin: 20px 0;
}

.product-description {
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
}

.product img {
  width: 300px;
}

.error-message {
  color: red;
  font-size: 14px;
}